<a routerLink="/uitloggen" routerLinkActive="active">In-/Uitloggen</a>,
<a routerLink="/agenda" routerLinkActive="active">Mijn Agenda</a>,
<a routerLink="/searchbar" routerLinkActive="active"> Zoek naar evenementen </a>

<br>
<br>
<br>
<br>
<br>
<header> Hier een overzicht van alle evenementen:</header>
<br>
<br>
<br>
<body>
<table>
    <thead>
      <tr>
        <th>{{Evenement}}</th>
        <th>{{Plaats}}</th>
        <th>{{Datum}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events">
        <td>{{e.naam}}</td>
        <td>{{e.plaats}}</td>
        <td>{{e.datum}}</td>
        <td> <button (click) = "slaOp(e.id)"> Voeg toe aan agenda </button></td>
      </tr>
      {{bericht}}
    </tbody>
  </table>
</body>