<a routerLink="/uitloggen" routerLinkActive="active">In-/Uitloggen</a>,
<a routerLink="/agenda" routerLinkActive="active">Mijn Agenda</a>
<a routerLink="/searchbar" routerLinkActive="active"> Zoek naar evenementen </a>,
<a routerLink="/evenementen" routerLinkActive="active"> Alle evenementen </a>


<table>
    <thead>
      <tr>
        <th>
          {{laatzien}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of personen">
        <td>{{p.naam}}</td>
      </tr>
    </tbody>
  </table>
