<h1>U kunt hier inloggen of registreren</h1>

<br>
<br>

<div class = "a">
  <header> Inloggen </header>
<p>

  <input [(ngModel)] = 'inlognaam' placeholder = "Gebruikersnaam">
</p>

<p>
  <input type=password [(ngModel)] = 'wachtwoord' placeholder="Wachtwoord">
</p>

<p>
  <button (click) = "inloggen()"> inloggen </button>
  {{message}}
</p>  
</div>

<br>
<br>


<div class = "b">

  <header> Registreren </header>
<p>
  <input [(ngModel)] = 'registerName' placeholder= "Gebruikersnaam">
</p>


<p>
  <input type = password [(ngModel)] = 'setwachtwoord' placeholder = "wachtwoord">
</p>
<p>
  <button (click) = "registrerenMogelijk()"> registreren </button> 
  {{message1}}
</p>  

</div>